* {
    font-size: 18px;
    font-family: "Lato";
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    width: 412px;
    margin: auto;
}

.register_up {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
}

.register_up .img1 {
    width: 100%;
    height: auto;
}

.register_up .icon {
    width: 38px;
    margin: 24px 162px 22px;
}

.register_up p {
    font-size: 32px;
    font-weight: 700;
    width: 330px;
    text-shadow: 0px 3px 5px #00000070 ;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 24px 0px;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#0057FF;
    color: white;
    box-shadow: 0px 5px 5px #00000070;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #0057FF;

    transition: 0.15s;
}

.buttons button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #0057FF;
    box-shadow: none;
    width: 98%;
}

.buttons .register {
    margin-bottom: 8px;
}

.buttons .sign_in {
    margin-top: 8px;
}

button {
    border-radius: 10px;
    background-color: #0057FF;
    height: 52px;
    font-size: 18px;
}

@media (min-width: 360px) and (max-width: 412px) {
    body {
        width: auto;
        background-color: red;
    }

    .register_up {
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
