.swipe_line {
  margin: auto;
  width: 100px;
  height: 4px;
  border-radius: 60px;
  background-color: #ABACB1;
}

.swipe_line_sign {
  padding: 10px;
}

.hidden_sign {
  z-index: 2;
  padding: 16px;
  border-radius: 5% 5% 0 0;
  position: sticky;
  bottom: 0px;
  background-color: #FFFFFF;
  color: #555555;
}

.hidden_sign legend {
  text-align: left;
  margin: 20px 0 30px 0;
  margin-left: 5%;
  font-family: 'Roboto';
  color: #1D1E22;
  font-weight: 800;
  font-size: 24px;
}

.hidden_sign form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hidden_sign input {
  width: 90%;
  height: 52px;
  border-radius: 10px;
  padding-left: 16px;
  margin-bottom: 24px;
  margin-left: 20px;
  border: #DFDFDF 1px solid;
}

.hidden_sign ::placeholder {
  color: #B1B1B1;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}


.hidden_sign form .pass_p_sign {
  position: absolute;
  font-size: 9px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #E40060;
  top: 252px;
  left: 7%;
  margin-left: 20px;

}

.hidden_sign form .email_plchold_sign {
  position: absolute;
  top: 128px;
  left: 7%;
  margin-left: 20px;
  font-size: 9px;
  color: #B1B1B1;
}

.hidden_sign form .pass_plchold_sign {
  position: absolute;
  top: 205px;
  left: 7%;
  margin-left: 20px;
  font-size: 9px;
  color: #B1B1B1;
}

.hidden_sign button {
  margin: auto;
  width: 90%;
  border: #0057FF 1px solid;
  color: #FFFFFF;
}

.closeBtn {
  display: none;
}

.trueLogin {
  background-color: #05d305;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 60px;
  color: #FFFFFF;
  visibility: hidden;
}

.falseLogin {
  background-color: #d30505;
  border-radius: 10px;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 80px;
  color: #FFFFFF;
  visibility: hidden;
}

@media screen and (width > 1279px) {
  .swipe_line, .swipe_line_sign {
    display: none;
  }

  .close_legend {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .closeBtn {
    display: block;
    cursor: pointer;
    text-align: right;
    padding-bottom: 10px;
  }

  .hidden_sign {
    margin-inline: auto;
    bottom: 32.5%;
    height: 300px;
    width: 400px;
    border-radius: 15px;
  }

  .hidden_sign form .email_plchold_sign {
    top: 82px;
  }

  .hidden_sign form .pass_plchold_sign {
    top: 156px;
  }

  .trueLogin {
    top: 0; left: 0; bottom: -400px; right: 0;
  }

  .falseLogin {
    top: 0; left: 0; bottom: -400px; right: 0;
  }
}