.msgSend {
  position: absolute;
  top: 300px;
  bottom: 270px;
  left: 35%;
  right: 27%;
  z-index: 15;
  background-color: rgb(0, 190, 0);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 18px;
  width: 300px;
  height: 70px;
}

.msgNotSend {
  position: absolute;
  top: 300px;
  bottom: 250px;
  left: 35%;
  right: 27%;
  z-index: 15;
  background-color: rgb(255, 0, 0);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 18px;
  width: 300px;
  height: 70px;
}

.greets {
  display: none;
}

.post_block {
  width: 100%;
  background-color: #fff;
  z-index: 3;
  border-radius: 10px 10px 0 0;
  height: 350px;
}

.post_block textarea {
  width: 95%;
  height: auto;
  margin-left: 2.5%;
  border: none;
  resize: none;
  font-size: 24px;
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: 80px;
}

.post_block textarea:focus {
  outline: none;
  box-shadow: none;
}

.post_block .swipe_line_div {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.post_block .swipe_line_div > .swipe_line {
  background-color: #abacb1;
  width: 30%;
  height: 5px;
  margin: auto;
  border-radius: 10px;
}

.post_block .post_info {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.post_symbols_send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  gap: 20px;
}

.post_symbols_send > p {
  text-align: center;
  margin: 0 auto;
}

.post_symbols_send :global(.uploadcare--widget__button_type_open) {
  width: 60px !important;
  height: 50px !important;
  background-color: white;
  background-image: url('/imgs/addPhoto.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #0057FF;
  border-radius: 8px;
  color: transparent;
  cursor: pointer;
}

.post_symbols_send :global(.uploadcare--widget_status_loaded) {
  width: 60px !important;
  height: 50px !important;
  position: relative;
}

.post_symbols_send :global(.uploadcare--widget__file-name) {
  display: block;
  width: 60px !important;
  height: 50px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 13px;
}

.post_symbols_send :global(.uploadcare--widget__file-size) {
  display: none;
}

.post_symbols_send .send button {
  width: 200px;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: #0057ff;
}

.post_block {
  position: fixed;
  bottom: 0;
}

.post_symbols_send .symbols {
  position: relative;
  width: 60px;
  height: 50px;
}

.post_symbols_send .symbols svg {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 50px;
  height: 50px;
}

.post_symbols_send .symbols p {
  position: absolute;
  top: 25px;
  left: 30px;
  transform: translate(-50%, -50%);
}

.post_symbols_send .symbols .add_photo {
  position: absolute;
  top: 10px;
}

.add_post {
  position: fixed;
  background-color: #0057ff;
  box-shadow: 0px 10px 10px 0px #0000001a;
  width: 64px;
  height: 64px;
  bottom: 65px;
  right: 15px;
  border-radius: 50%;
}

.add_post button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add_post button img {
  position: fixed;
  width: 36px;
  height: 36px;
}

.msgSend {
  position: absolute;
  top: 300px;
  bottom: 270px;
  left: 35%;
  right: 27%;
  z-index: 15;
  background-color: rgb(0, 190, 0);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 18px;
  width: 300px;
  height: 70px;
}

.msgNotSend {
  position: absolute;
  top: 300px;
  bottom: 250px;
  left: 35%;
  right: 27%;
  z-index: 15;
  background-color: rgb(255, 0, 0);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 18px;
  width: 300px;
  height: 70px;
}

.invisible_div {
  position: fixed;
  top: 10;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
}

.black_div {
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: #000000;
  z-index: 2;
  opacity: 50%;
}

@media screen and (width > 1279px) {
  .greets {
    display: block;
    background-color: #fff;
    height: 64px;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 10px;
    margin-block: 40px 30px;
    width: 750px;
    cursor: pointer;
  }

  .greets button {
    background-color: initial;
    border: none;
    margin: 0;
    height: auto;
    font-weight: 900;
    color: #abacb1;
    cursor: pointer;
  }

  .post_block {
    position: relative;
    width: 750px;
    border-radius: 10px;
    margin-block: 30px 20px;
    border: 3px solid #0057ff;
  }

  .post_block textarea {
    padding-top: 20px;
    max-height: 200px;
    overflow-y: hidden !important;
    padding-bottom: 80px;
  }

  .post_symbols_send {
    justify-content: space-between;
    margin-inline: 20px;
  }

  .post_symbols_send .symbols {
    order: 2;
    padding-right: 90px;
  }

  .post_symbols_send .send {
    order: 3;
    margin-left: -55%;
  }

  .swipe_line_div {
    display: none;
  }

  .black_div {
    display: none;
  }

  .footer_feed,
  .add_post {
    display: none;
  }
}
