.main_logo {
  width: 100%;
  height: 70px;
  background-color: #0057ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black_div {
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: #000000;
  z-index: 2;
  opacity: 50%;
}

.main_logo .feed_logo img {
  width: 30px;
  margin: auto;
}

.main_logo .feed_logo img:last-child {
  display: none;
}

.main_logo .feed_logo img:first-child {
  display: block;
}

.main_logo .feed_pages {
  display: none;
}

.main_logo .feed_my_profile img {
  width: 60px;
  border-radius: 50%;
  display: none;
}

.recommend {
  display: none;
}

.greets {
  display: none;
}

.post_block {
  width: 100%;
  background-color: #fff;
  z-index: 3;
  border-radius: 10px 10px 0 0;
}

.post_block textarea {
  width: 95%;
  height: 200px;
  margin-left: 2.5%;
  border: none;
  resize: none;
  font-size: 24px;
}

.post_block textarea:focus {
  outline: none;
  box-shadow: none;
}

.post_block .swipe_line_div {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.post_symbols_send {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 20px;
}

/* .post_symbols_send .circle {
  background-color: initial;
  border: 1px solid #0057ff;
  width: 40px;
} */

.post_symbols_send > p {
  text-align: center;
  margin: 0 auto;
}

.post_symbols_send .send button {
  width: 200px;
}

.post_block .swipe_line_div > .swipe_line {
  background-color: #abacb1;
  width: 20%;
  height: 5px;
  margin: auto;
  border-radius: 10px;
}

.post_block {
  position: fixed;
  bottom: 0;
}

.post_block .post_symbols_send {
  display: flex;
}

.post_symbols_send .symbols svg {
  position: absolute;
  bottom: 15px;
}

.post_symbols_send .symbols p {
  position: relative;
  left: 13px;
  color: #0057ff;
  font-weight: 900;
}

.post_symbols_send .send button {
  background-color: #0057ff;
  color: #fff;
  border: none;
}

.footer_feed {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #eeeeee;
}

.footer_feed button {
  border: none;
  background-color: initial;
  height: auto;
  cursor: pointer;
}

.footer_main_div {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_profile_div {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_settings_div {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_myself_div {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_feed .footer_main {
  width: 30px;
  height: 30px;
}

.footer_feed .footer_profile {
  width: 30px;
  height: 30px;
}

.footer_feed .footer_settings {
  width: 30px;
  height: 30px;
}

.footer_feed .footer_myself {
  width: 30px;
  height: 30px;
}

.footer_feed .footer_myself_div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.add_post {
  position: fixed;
  background-color: #0057ff;
  box-shadow: 0px 10px 10px 0px #0000001a;
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: 30px;
  border-radius: 50%;
}

.add_post button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.msgSend {
  position: absolute;
  top: 300px; bottom: 270px; left: 35%; right: 27%;
  z-index: 15;
  background-color: rgb(0, 190, 0);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 18px;
}

.msgNotSend {
  position: absolute;
  top: 300px; bottom: 250px; left: 35%; right: 27%;
  z-index: 15;
  background-color: rgb(255, 0, 0);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 18px;
}

@media screen and (width > 1279px) {
  .footer_feed,
  .add_post {
    display: none;
  }

  .main_logo {
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    box-shadow: #c7c7c7 1px 1px 6px;
  }

  .main_logo .feed_logo img:last-child {
    margin-right: 300px;
    display: block;
  }

  .main_logo .feed_logo img:first-child {
    display: none;
  }

  .main_logo .feed_my_profile img {
    display: block;
    margin-right: 20px;
  }

  .main_logo .feed_pages {
    display: flex;
  }

  .feed_pages button {
    background-color: initial;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    width: max-content;
    height: 70px;
    padding-inline: 25px;
  }

  .feed_pages button img {
    width: 25px;
  }

  .feed_pages button p {
    margin-inline: 10px;
  }

  .swipe_line_div {
    display: none;
  }

  .greets {
    display: block;
    margin-left: 10%;
    background-color: #fff;
    height: 64px;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 10px;
    margin-block: 30px;
    width: 53%;
    cursor: pointer;
  }

  .greets button {
    background-color: initial;
    border: none;
    margin: 0;
    height: auto;
    font-weight: 900;
    color: #abacb1;
    cursor: pointer;
  }

  .post_block {
    position: relative;
    margin-left: 10%;
    width: 53%;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px solid #0057ff;
  }

  .post_block textarea {
    padding-top: 20px;
    height: 100px;
  }

  .post_symbols_send {
    justify-content: space-between;
    margin-inline: 20px;
  }

  .post_symbols_send .symbols {
    order: 2;
    padding-right: 90px;
  }

  .post_symbols_send .send {
    order: 3;
    margin-left: -40%;
  }

  .black_div {
    display: none;
  }

  .recommend {
    position: fixed;
    display: block;
    top: 100px;
    margin-left: 2%;
    right: 10%;
  }

  .flex_msgs_recommend {
    display: flex;
  }

  .recommend .my_info {
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 16px;
  }

  .recommend .my_info .icon_name {
    display: flex;
  }

  .recommend .my_info .icon_name img {
    border-radius: 50%;
    margin: -20px 15px 0 20px;
  }

  .recommend .my_info .icon_name .name_userName {
    margin-top: 16px;
  }

  .recommend .my_info .icon_name .name_userName p {
    font-size: 18px;
    font-weight: 900;
    color: #1d1e22;
  }

  .recommend .my_info .icon_name .name_userName span {
    font-size: 12px;
    font-weight: 400;
    color: #abacb1;
  }

  .recommend .my_info .more_info {
    display: flex;
    padding-block: 20px;
    justify-content: space-around;
  }

  .recommend .my_info .more_info .msgs p,
  .recommend .my_info .more_info .my_subs p,
  .recommend .my_info .more_info .subs p {
    font-weight: 600;
    font-size: 22px;
    color: #1d1e22;
  }

  .recommend .my_info .more_info .msgs span,
  .recommend .my_info .more_info .my_subs span,
  .recommend .my_info .more_info .subs span {
    font-weight: 400;
    font-size: 12px;
    color: #abacb1;
  }
}
