.allMsgs {
  position: relative;
  color: #1d1e22;
  z-index: -1;
  background-color: #ffffff;
}

.added_img {
  margin-top: 10px;
  width: 95%;
  border-radius: 5%;
}

.msg {
  padding-top: 20px;
  display: flex;
  margin: 0 16px 0 16px;
}

.info {
  width: 100%;
}

.icon img {
  border-radius: 50%;
  margin-right: 16px;
  width: 52px;
}

.name_time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 10px;
  color: #abacb1;
}

.name_div p {
  color: #abacb1;
  font-weight: 400;
  font-size: 14px;
}

.name_div .name {
  color: #1d1e22;
  font-weight: 900;
  font-size: 14px;
}

.time p {
  width: 52px;
  font-weight: 400;
  font-size: 10px;
  text-align: right;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  margin-right: 16px;
}

.send_like_dwld {
  color: #abacb1;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send p {
  margin-left: 10px;
  font-size: 14px;
}

.like {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like p {
  margin-left: 10px;
  font-size: 14px;
}

.dwld {
  margin-right: 71px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dwld p {
  margin-left: 10px;
  font-size: 14px;
}

.line {
  color: #e9e9e9;
  height: 1px;
  width: 100%;
  margin-top: 20px;
}

.blur_div {
  display: none;
  background: linear-gradient(#00000000, #f4f5f6);
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
}

@media screen and (width > 1279px) {
  .last_msgs {
    margin-left: 10%;
    width: 53%;
    background-color: inherit;
  }

  .last_msgs .heading {
    font-size: 36px;
    padding-block: 64px 25px;
  }

  .allMsgs {
    border-radius: 15px;
  }

  .line {
    display: none;
  }

  .msg {
    padding-top: 30px;
  }

  .name_div {
    display: flex;
  }

  .name_div p {
    font-size: 16px;
  }

  .name_div .name {
    margin-right: 16px;
    font-size: 16px;
    font-weight: 700;
  }

  .time p {
    width: 150px;
    font-size: 14px;
  }

  .text p {
    padding-top: 6px;
  }

  .send_like_dwld {
    width: 360px;
  }

  .blur_div {
    display: block;
  }
}
