.settings_pass {
  display: flex;
  flex-direction: column;
}

.select_setting {
  order: -1;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  height: 66px;
}

.select_setting .main_setting,
.select_setting .pass_setting,
.select_setting .mail_setting {
  margin-top: 12px;
  height: 55px;
  border-bottom: 3px solid initial;
  cursor: pointer;
}

.select_setting .main_setting p,
.select_setting .pass_setting p,
.select_setting .mail_setting p {
  font-size: 18px;
  text-align: center;
}

.settings_pass .pass_inputs {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-block: 30px;
  border-radius: 10px;
  margin-inline: 2%;
}

.settings_pass h1 {
  font-weight: 600;
  font-size: 28px;
  margin-inline: auto;
  /* margin-left: 3%; */
  margin-block: 20px 20px;
}

.settings_pass .pass_inputs input {
  width: 90%;
  height: 52px;
  border-radius: 10px;
  padding-left: 16px;
  margin-bottom: 34px;
  border: #dfdfdf 1px solid;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.settings_pass .pass_inputs input:focus {
  border-color: #0057FF !important;
  outline: none;
}

.settings_pass span {
  position: absolute;
  color: #b1b1b1;
  font-size: 10px;
}

.settings_pass .old_pass,
.settings_pass .new_pass,
.settings_pass .repeat_new_pass {
  position: absolute;
  margin-top: 6px;
  left: 10%;
}

.settings_pass .wrong_repeat_new_pass {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #d30505;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
  top: 50%; left: 30%; right: 30%;
  justify-content: center;
  text-align: center;
}

.settings_pass .button_submit {
  text-align: center;
}

.settings_pass .button_submit button {
  color: #ffffff;
  border: none;
  width: 200px;
}

@media screen and (width > 399px) {
  .select_setting {
    height: 70px;
  }

  .select_setting .main_setting,
  .select_setting .pass_setting,
  .select_setting .mail_setting {
    height: 58px;
}

  .select_setting .main_setting p,
  .select_setting .pass_setting p,
  .select_setting .mail_setting p {
    font-size: 20px;
  }
}

@media screen and (width > 444px) {
  .select_setting {
    height: 46px;
  }

  .select_setting .main_setting,
  .select_setting .pass_setting,
  .select_setting .mail_setting {
    height: 34px;
}

  .select_setting .main_setting p,
  .select_setting .pass_setting p,
  .select_setting .mail_setting p {
    font-size: 18px;
  }
}

@media screen and (width > 599px) {
  .select_setting {
    height: 54px;
  }

  .select_setting .main_setting,
  .select_setting .pass_setting,
  .select_setting .mail_setting {
    height: 43px;
  }

  .select_setting .main_setting p,
  .select_setting .pass_setting p,
  .select_setting .mail_setting p {
    font-size: 20px;
  }
}

@media screen and (width > 1279px) {
  .settings_pass {
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
  }

  .select_setting {
    order: 2;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .select_setting .main_setting p,
  .select_setting .pass_setting p,
  .select_setting .mail_setting p {
    text-align: left;
  }

  .select_setting p {
    margin-top: 8px;
    margin-left: 15px;
  }

  .settings_pass h1 {
    position: absolute;
    top: 100px;
    fill-rule: auto;
    margin-right: 300px;
  }

  .pass_inputs {
    width: 660px;
  }

  .settings_pass .old_pass,
  .settings_pass .new_pass,
  .settings_pass .repeat_new_pass {
    position: relative;
    left: 8%;
  }

  .settings_pass .wrong_old_pass,
  .settings_pass .wrong_new_pass,
  .settings_pass .wrong_repeat_new_pass {
    margin-left: 18%;
  }

  .settings_pass .wrong_repeat_new_pass {
    left: 10%; right: 50%;
  }
}
