.hidden_reg {
  height: 100%;
  width: 100%;
  position: sticky;
  bottom: 0px;
  padding: 16px;
  border-radius: 5% 5% 0 0;
  background-color: #FFFFFF;
  color: #555555;
  transition: 3s ease;
  z-index: 2;
}

.swipe_line_reg {
  padding: 10px;
}

.swipe_line {
  margin: auto;
  width: 50px;
  height: 4px;
  border-radius: 60px;
  background-color: #ABACB1;
}

.closeBtn {
  display: none;
}

.hidden_reg legend {
  text-align: left;
  margin: 26px 0 30px 0;
  margin-left: 5%;
  font-family: 'Roboto';
  color: #1D1E22;
  font-weight: 800;
  font-size: 24px;
}

.hidden_reg form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hidden_reg input {
  width: 90%;
  height: 52px;
  border-radius: 10px;
  padding-left: 16px;
  margin-bottom: 24px;
  margin-left: 20px;
  border: #DFDFDF 1px solid;
}

.hidden_reg ::placeholder {
  color: #B1B1B1;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.hidden_reg form .email_p {
  position: absolute;
  font-size: 9px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #E40060;
  top: 182px;
  left: 7%;
  margin-left: 20px;
}

.hidden_reg form .pass_p_reg {
  position: absolute;
  font-size: 9px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #E40060;
  top: 257px;
  left: 7%;
  margin-left: 20px;

}

.hidden_reg form .passCheck_p_reg {
  position: absolute;
  font-size: 9px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #E40060;
  top: 332px;
  left: 7%;
  margin-left: 20px;

}

.hidden_reg form .emali_plchold_reg {
  position: absolute;
  top: 132px;
  left: 7%;
  margin-left: 20px;
  font-size: 9px;
  color: #B1B1B1;
}

.hidden_reg form .pass_plchold_reg {
  position: absolute;
  top: 210px;
  left: 7%;
  margin-left: 20px;
  font-size: 9px;
  color: #B1B1B1;
}

.hidden_reg form .passCheck_plchold {
  position: absolute;
  top: 285px;
  left: 7%;
  margin-left: 20px;
  font-size: 9px;
  color: #B1B1B1;
}

.hidden_reg button {
  margin: auto;
  width: 90%;
  border: #0057FF 1px solid;
  color: #FFFFFF;
}

.registrationTrue {
  background-color: #05d305;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0; left: 0; bottom: 400px; right: 400px;
  margin: auto;
  width: 270px;
  height: 80px;
  color: #FFFFFF;
  visibility: hidden;
}

.registrationFalse {
  background-color: #d30505;
  border-radius: 10px;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0; left: 0; bottom: 400px; right: 400px;
  margin: auto;
  width: 270px;
  height: 80px;
  color: #FFFFFF;
  visibility: hidden;
}

.registrationFalseEmail {
  background-color: #d30505;
  border-radius: 10px;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0; left: 0; bottom: 400px; right: 400px;
  margin: auto;
  width: 270px;
  height: 80px;
  color: #FFFFFF;
  visibility: hidden;
}

@media screen and (width > 1279px) {
  .hidden_reg {
    margin-inline: auto;
    bottom: 25%;
    height: 380px;
    width: 400px;
    border-radius: 15px;
  }

  .swipe_line, .swipe_line_reg {
    display: none;
  }

  .close_legend {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .closeBtn {
    display: block;
    cursor: pointer;
    text-align: right;
    padding-top: 5px;
  }

  .hidden_reg legend {
    margin-top: 0;
  }

  .hidden_reg form .email_p {
    top: 132px;
  }

  .hidden_reg form .emali_plchold_reg {
    top: 83px;
  }

  .hidden_reg form .pass_p_reg {
    top: 208px;
  }

  .hidden_reg form .pass_plchold_reg {
    top: 159px;
  }

  .hidden_reg form .passCheck_p_reg {
    top: 286px;
  }

  .hidden_reg form .passCheck_plchold {
    top: 235px;
  }

  .registrationFalse {
    top: 0; left: 0; bottom: -500px; right: 0;
  }

  .registrationFalseEmail {
    top: 0; left: 0; bottom: -500px; right: 0;
  }

  .registrationTrue {
    top: 0; left: 0; bottom: -500px; right: 0;
  }
}