.register_up {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.register_up p {
  margin: 20px 16px 0 16px;
  font-size: 32px;
  font-weight: 700;
  width: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 24px 15px;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 87%;
  margin: auto;
  border: 1px solid #0057ff;
}

.buttons .sign_in {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: #0057ff;
  box-shadow: none;
  margin-top: 8px;
}

.buttons .register {
  margin-bottom: 8px;
  font-weight: 600;
}

button {
  border-radius: 10px;
  background-color: #0057ff;
  height: 52px;
  font-size: 18px;
}

.buttons :hover {
  cursor: pointer;
}

.blur_div {
  display: none;
  background: linear-gradient(#00000000, #f4f5f6);
  width: 100%;
  height: 300px;
  position: absolute;
  top: 171.3%;
}

@media screen and (width > 1279px) {
  .register_up {
    background-color: inherit;
    width: 56%;
    height: 300px;
    margin: auto;
  }

  .register_up p {
    font-size: 48px;
  }

  .buttons {
    flex-direction: row;
    width: 75%;
  }

  .buttons .register {
    margin: 0;
    margin-right: 2%;
  }

  .buttons .sign_in {
    margin: 0;
    margin-left: 2%;
  }

  .blur_div {
    display: block;
  }
}
