* {
  font-size: 18px;
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow-y: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  align-items: center;
  height: auto;
  width: auto;
  margin: auto;
  background-color: #F4F5F6;
}

.black_block {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 60%;
}

.stop_scrolling {
  overflow-y: hidden;
}

.information {
  display: flex;
  justify-content: space-between;
}

.themes_blogers {
  display: none;
}

@media screen and (width > 1279px) {
  .themes_blogers {
    display: flex;
    flex-direction: column;
    margin-block: 138px;
    margin-right: 10%;
  }
}
