* {
  font-size: 18px;
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow-y: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  align-items: center;
  height: auto;
  width: auto;
  margin: auto;
  background-color: #F4F5F6;
}

.black_block {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 60%;
  z-index: 1;
}

.stop_scrolling {
  overflow-y: hidden;
}

.information {
  max-height: 1200px;
  overflow: hidden;
}

.msgs_heading {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление */
  position: relative;
}

.msgs_heading .header {
  color: #000000;
  font-weight: 800;
  font-size: 24px;
  padding: 25px 0 25px 16px;
}

.themes_blogers {
  display: none;
}

.blur_div {
  background: linear-gradient(#00000000, #f4f5f6);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 200px;
}

@media screen and (width > 1279px) {
  .themes_blogers {
    display: flex;
    flex-direction: column;
    margin-block: 132px;
  }

  .information {
    display: flex;
    justify-content: center;
  }

  .msgs_heading {
    margin-right: 30px;
    width: 700px;
    height: 1200px;
    overflow: hidden;
  }

  .msgs_heading .header {
    font-size: 36px;
    padding-block: 64px 25px;
  }

  .blur_div {
    display: block;
  }
}
